change presence in Teams
{"id":"da6bb2ef-d84c-4e8d-8f93-85c138e0aa49","brandColor":"#8C3900","connectionReferences":{"shared_sharepointonline":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/shared-sharepointonl-eac1a5c1-8235-498a-a006-ab78ec12fcd8"}},"shared_sharepointonline_1":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/7c2a102cf4ab40e4b19eca943abc82f9"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Scope","operationDefinition":{"type":"Scope","actions":{"Delay":{"type":"Wait","inputs":{"interval":{"count":30,"unit":"Minute"}},"runAfter":{"Update_my_Status_Message":["Succeeded"]},"description":"After 30 minutes will reset my Away status (message will be cleared our automagically )","metadata":{"operationMetadataId":"5a91ad90-ba5e-4625-815a-2b3e50a2f3cb"}},"Reset_My_Status":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://presence.teams.microsoft.com","parameters/method":"PUT","parameters/uri":"/v1/me/forceavailability/","parameters/headers":{"content-type":"application/json"}},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"025e938e-ef92-48f3-a097-fdf59132fbb8"}},"Set_My_Status_-_Away":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://presence.teams.microsoft.com","parameters/method":"PUT","parameters/uri":"/v1/me/forceavailability/","parameters/headers":{"content-type":"application/json"},"parameters/body":"{\n\"availability\": \"Away\"\n}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"metadata":{"operationMetadataId":"69083f67-1321-4231-8206-deb180692c59"}},"Update_my_Status_Message":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://presence.teams.microsoft.com","parameters/method":"PUT","parameters/uri":"/v1/me/publishnote","parameters/headers":{"content-type":"application/json"},"parameters/body":"{\n    \"message\": \"Away for lunch break 🍕<pinnednote></pinnednote>\",\n    \"expiry\": \"@{addMinutes(utcNow(), 30)}\"\n}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Set_My_Status_-_Away":["Succeeded"]},"description":"<pinnednote></pinnednote> will show when people msg me or @mention me and set exipry for 30 minutes with addMinutes(utcNow(),30)","metadata":{"operationMetadataId":"68a8f4c3-7878-4c50-a3bc-3e098cd6cbfb"}}},"runAfter":{},"metadata":{"operationMetadataId":"ffa5d8a4-52c1-4ef6-adc5-00285960bd03"}}}
