parseUltiproEmail
{"id":"816a341b-abf2-4699-a1fa-cf92-8238874a","brandColor":"#8C3900","connectionReferences":{"shared_office365":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365/connections/shared-office365-86d5428e-705f-4e53-a6dc-3d0771114b0b"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Create_Events_from_Ultipro_date","operationDefinition":{"type":"Scope","actions":{"SplitEmailBody":{"type":"Compose","inputs":"@split(replace(triggerOutputs()?['body/body'],decodeUriComponent('%0D%0A'),''),'--Approved')","runAfter":{},"description":"split(replace(triggerOutputs()?['body/body'],decodeUriComponent('%0D%0A'),''),'--Approved')"},"Apply_to_each":{"type":"Foreach","foreach":"@outputs('SplitEmailBody')","actions":{"Append_to_array_variable":{"type":"AppendToArrayVariable","inputs":{"name":"ApprovedDates","value":"@if(greater(length(item()),10),substring(item(), sub(length(item()), 10),10), item())"},"runAfter":{},"description":"if(greater(length(item()),10),substring(item(), sub(length(item()), 10),10), item())"}},"runAfter":{"SplitEmailBody":["Succeeded"]}},"FilterEmptyDates":{"type":"Query","inputs":{"from":"@variables('ApprovedDates')","where":"@not(equals(length(item()), 0))"},"runAfter":{"Apply_to_each":["Succeeded"]},"description":"length(item())"},"Create_event_(V4)":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"V4CalendarPostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"table":"AQMkAGRmOTJlYWZhLTczYjktNDFmNi05YmZmAC0xZjE2MTNiZjdkODYARgAAA8Z3ZzQLgf5LpxiEDWxAw4cHAJ9JYGU9I55FmWe-LrGrQtUAAAIBBgAAAJ9JYGU9I55FmWe-LrGrQtUAAAIfCQAAAA==","item/subject":"PTO from Power Automate ","item/start":"@first(body('FilterEmptyDates'))","item/end":"@last(body('FilterEmptyDates'))","item/timeZone":"(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna","item/isAllDay":true,"item/showAs":"oof"},"authentication":"@parameters('$authentication')"},"runAfter":{"FilterEmptyDates":["Succeeded"]},"description":"first(body('FilterEmptyDates'))"}},"runAfter":{"varArrayApprovedDates":["Succeeded"]},"description":"before the scope initalize an Array type Variable and Name: ApprovedDates with empty Value"}}
